_build
**/*DS_Store

##Carpeta de los archivos temporales
.tmp.drivedownload/
.tmp.driveupload/
##Ejecutables de Windows y Linux 
*.exe
*.out
*.x
*.o
##Archivos de los datos
*.dat
*.txt
*.csv
#*.pdf
*.o
*.x
##Carpeta de las tareas compañeros
Tareas Compañeros/

